.Content {
  display: flex;
  flex-wrap: wrap;
}
.Header {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.foto {
  height: 400px;
  width: 100%;
  object-fit: cover;
  /* object-position: 0 -20%;esto probarlo con cover */
  display: flex;
  flex-wrap: wrap;
  height: 80%;
}
.Episode {
  background-color: rgb(87, 85, 85);

  border: 2px solid black;

  margin: 10px;

  width: 200px;
  height:200px;
  border-radius:10px;
}
.Image{
   height: 75%; 
   object-fit: cover;
}
.img{
  height:200px;
  width:200px;
  border:2px solid black;
  object-fit: cover;
  border-radius:10px;
}
.InfoImage{
  height: 25%;
}
.Character {
  background-color: rgb(87, 85, 85);

  border: 2px solid black;
  border-radius:10px;
  margin: 10px;

  width: 200px;
  height:200px;
}
.CharacterMenu {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.EpisodeMenu{
  width:60%;
  display:flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.CharacterShow{
  width:40%;
  display:flex;
  flex-direction: column;
  background-color:rgb(170, 161, 161);
}
.InfoImageSelected{
  width: 50%;
}
.InfoEpisodio{
  display:flex;
  flex-direction:column;
}
.EpisodeSelected{
  display:flex;
}
.ImageSelected{
  width:100%;
  display:flex;
  justify-content: space-around;
}
.button{
  display:flex;
  cursor:pointer;
}
.mapCharacters{
  display:flex;
  flex-wrap:wrap;

}